@model IEnumerable<Lab4.Models.News>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Image
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().SportClub.Title)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <!-- Displaying the image -->
                    <img src="@item.Url" alt="@item.FileName" style="height: 100px; width: 100px;" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SportClub.Title)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.NewsId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.NewsId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.NewsId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
